@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --font-ygo: "WDXL Lubrifont TC", "sans-serif";
}

@layer base {
    h1 {
        @apply text-[#DFD0B8] text-6xl font-extrabold font-ygo;
    }

    h2 {
        @apply text-[#DFD0B8] text-5xl font-extrabold font-ygo;
    }
    h3 {
        @apply text-[#DFD0B8] text-4xl font-extrabold font-ygo;
    }

    h4 {
        @apply text-[#DFD0B8] text-3xl font-extrabold font-ygo;
    }

    p {
        @apply text-[#DFD0B8] text-xl font-ygo;
    }
    input {
        @apply border-3 border-[#DFD0B8] rounded-md outline-none px-2 py-1;
    }
    input:focus {
        @apply border-3 border-[#6c7482] rounded-md;
    }
    i {
        @apply transition-colors;
    }
    i:hover {
        @apply text-[#948979];
    }
    /* button {
        @apply bg-[#6c7482] py-1 px-3 rounded-md cursor-pointer;
    } */
    button {
        @apply bg-[#393E46] border-[#DFD0B8] border-4 rounded-md flex flex-col items-center shadow-[inset_0px_0px_7px_3px_rgba(0,_0,_0,_0.8)] px-3 py-1 cursor-pointer transition-colors;
    }
    button:hover {
        @apply bg-[#DFD0B8] text-[#6c7482];
    }
}

@layer components {

    /* DROPDOWN LI ELEMENTS */
    .menu-item a {
        @apply transition-colors;
    }

    .menu-item a:hover{
        @apply text-[#948979];
    }

    /* .menu-item li a {
        @apply text-3xl;
    } */
}
